[2013-09-18 15:13] staticdreams opened #1 "Reference to non-declared class"
Hi! Awesome php class! Thank you!

Just a little observation:

On line 188 you're referencing Class "FL" with a static function 'msg' which is nowhere to be found. As a result it throws an error when accessing via iPhone. I replaced it with hardcoded message and it worked like a charm.

[2013-09-18 15:24] #1 closed, assigned to jeroendesloovere

[2014-10-13 11:57] FredoVelcro-zz opened #2 "buildVcard method should be public"
Hello,
Very difficult to find a good PSR PHP class implementing vcard generation ! thanks for yours  ;)
I need to get the vcard string and i think buildVcard() should be public as it may be useful

[2014-10-13 12:09] #2 closed, assigned to nobody

[2014-10-13 12:15] FredoVelcro-zz opened #3 "Missing ability to add Photo and others vcard fields (geo, logo etc)"
Another great feature lacks : adding a photo ! :)
What do you think about it ?

[2014-11-25 16:17] #3 closed, assigned to nobody

[2015-01-10 11:17] auro1 opened #7 "Multiple VCards in one file"
Any specific reason for no support for this??

[2015-01-10 12:47] jeroendesloovere commented on #7
Hi @auro1, thanks for your issue :-D.
Well, I guess because I have never needed that functionality.

Feel free to PR such a feature :-P

[2015-01-21 23:33] waza-ari opened #8 "Double space when no "additional" field is given"
If you use the `addName()` method to add a firstname and a lastname, but no `$additional` value, there will be a double space between firstname and lastname in the vCard.

Example:
[code]

It also does not help to set the additional value explicitly to `null`.

[2015-01-22 09:03] jeroendesloovere commented on #8
@waza-ari Hi, thanks for reporting.
Will look into a fix!

[2015-01-22 09:16] #8 closed

[2015-01-22 09:18] jeroendesloovere commented on #8
Hi, I fixed it.
You can find the [new release over here](https://github.com/jeroendesloovere/vcard/releases).

[2015-01-22 10:11] waza-ari commented on #8
Hi,
can confirm it is working now. Thank you for your quick fix!

[2015-01-22 10:16] jeroendesloovere commented on #8
Hi, I just released the [version 1.1.4](https://github.com/jeroendesloovere/vcard/releases/tag/1.1.4), which fixes another similar bug for filename.
I also added PHPUnit test cases.

[2015-01-22 10:18] jeroendesloovere commented on #7
I reopened this issue because this function could come in handy.

[2015-01-31 09:49] szmulik opened #15 "Fatal error: Call to undefined function JeroenDesloovere\VCard\finfo_open()"
Hello
I'm getting error when I try to run example
Fatal error: Call to undefined function JeroenDesloovere\VCard\finfo_open() in /....../vcard/src/VCard.php on line 125

I use php 5.3

[2015-02-02 07:48] jeroendesloovere commented on #15
Hi there,
you can temporarily use [previous version](https://github.com/jeroendesloovere/vcard/releases/tag/1.1.4) while I check for a solution.

[2015-02-16 02:13] #15 closed

[2015-02-16 02:13] szmulik commented on #15
Thanks jeroendesloovere

[2015-02-20 11:27] wadmiraal opened #17 "Any plans to add parsing?"
To turn this into a complete package, do you have any ideas to add Vcard parsing to your library?

[2015-02-20 14:33] jeroendesloovere commented on #17
Hi @wadmiraal,
Thanks for reporting your issue.
Is it possible to be a bit more specific about what output you want?

If you mean you want to get the string?
Then you can use the functions buildVCard() or buildVCalendar().

[2015-02-20 16:46] wadmiraal commented on #17
No, I mean the opposite :). Getting a Vcard string and parse its fields,
transforming it to an object (or array of objects).

That would make your library the one-stop-shop for everything Vcard in PHP
Le 20 févr. 2015 15:33, "Jeroen Desloovere" <notifications@github.com> a
écrit :

[2015-02-23 10:05] jeroendesloovere commented on #17
Hi @wadmiraal,
Seems like a nice feature to add.
I will take a closer look if this could be possible,
since I want it to work across different vCard versions.

[2015-02-23 13:02] wadmiraal commented on #17
I can have a look at it. It will give me the opportunity to dig a bit more into this format.

Read your contribution guidelines: that's the kind of stuff that makes me want to contribute :-). Especially the Unit Test part (I won't event consider using a library that has no tests nowadays).

[2015-02-23 13:09] jeroendesloovere commented on #17
@wadmiraal Ok, feel free to add a Pull Request for your implementation.

[2015-02-24 09:35] jeroendesloovere opened #18 "Workaround for iOS devices is no longer needed for the latest iOS version."
## > iOS 8
I have discovered that iOS 8 now supports .vcf files.

## For previous versions of < iOS 8 we did a workaround
iOS had no support for .vcf (vcard) files. So I build a workaround that uses .icf (vcalender).

[2015-02-24 09:42] jeroendesloovere opened #19 "Refactoring"

[2015-02-24 09:42] jeroendesloovere opened #20 "PSR-2-code-styling"

[2015-02-24 09:43] jeroendesloovere opened #21 "PHPCS"

[2015-02-24 09:43] #19 closed

[2015-02-24 09:43] #20 closed

[2015-02-24 09:43] #21 closed

[2015-02-24 09:44] jeroendesloovere opened #22 "Remove get() function"
This function should be deprecated in favor of the function ->getOutput(), which more describes what it actually does.

[2015-03-02 09:12] jeroendesloovere opened #24 "Deprecate getFilename and add getFileName"

[2015-03-03 12:51] muhammetus opened #25 "charset problem"
Hi,

[code]

output:
[code]

I using laravel, charset utf-8

[2015-03-03 13:09] jeroendesloovere commented on #25
Hi @muhammetus,
Thanks for reporting!
I will definitely take a look at this bug!

[2015-03-03 14:53] muhammetus commented on #25
I've corrected the error, I sent! :)

[2015-03-03 14:56] muhammetus commented on #25
[code]

[2015-03-03 15:18] jeroendesloovere commented on #25
@muhammetus,
Is it possible to do a PR for this one?
Your input will then be fully credited.

[2015-03-05 06:57] SmokeyBrandie commented on #22
The function get() does not work at the moment since it does not return anything:

    public function get()
    {
        $this->getOutput();
    }

[2015-03-05 12:58] jeroendesloovere commented on #25
[Pull request for this issue.](https://github.com/jeroendesloovere/vcard/pull/26) for this

[2015-03-08 00:34] Synchro opened #28 "MIME types need updating?"
The official MIME type for VCards/vcf is apparently `text/vcard`, and the type for iCalendar/ics files is meant to be `text/calendar` according to [RFC6350](http://tools.ietf.org/html/rfc6350#section-10.1) and [RFC5545](http://tools.ietf.org/html/rfc5545). This VCard class instead sets the types to `text/x-vcard` and `text/x-vcalendar` respectively in the `getContentType` method. Is there any reas

[2015-03-09 08:12] #25 closed

[2015-03-11 21:06] stadskle commented on #18
What is the status of this? I am testing with 1.18 now, and it does not seem to be fixed.

[2015-03-17 07:56] jeroendesloovere commented on #28
Hi @Synchro,
using the '''text/v-card''' and '''text/x-vcalender''' supports older vcard versions while your suggestion only support > v3.

But will look into this in the future when I [refactor buildVcalender out](https://github.com/jeroendesloovere/vcard/issues/18).

[2015-03-20 20:13] three3211 commented on #17
+1 this. This would be really useful!

[2015-03-20 20:14] three3211 commented on #7
+1 this. I have a contacts app and it would be useful to be able to allow the user to export "all contacts" instead of just one at a time.

[2015-03-20 20:19] three3211 opened #30 "Ability to Add Multiple Addresses, Dates and Emails"
I currently do not see a way of adding multiple addresses, dates, or emails to a vCard. You can do this with the addPhoneNumber() function, but the other functions do not seem to support this. Here is an example:

[code]

Lets say the example contact above has 3 email addresses on file. When doing the while loop, only the last email in the loop is stored in the vCard. The first 2 emails are overri

[2015-03-23 08:33] jeroendesloovere commented on #30
@three3211 This is definitely something that should be integrated.
Will look into this when I add the possibility to add multiple vCards into one file.
Thanks for posting!

[2015-03-23 22:44] three3211 commented on #30
@jeroendesloovere Awesome thanks for the enhancement!

[2015-04-21 06:52] #18 closed

[2015-04-29 12:27] mgrundkoetter opened #34 "Multiple email addresses"
Right now it is only possible to set exactly one email address. The method name "addEmail" implies the possibility to set more than just one. The attribute based type of emails should be possible like it is with several other properties (like address, phone number, etc.).
To be backwards compatible the method could be changed so the default attributes are still used when the method is called. Only

[2015-04-29 12:59] jeroendesloovere commented on #34
@mgrundkoetter Thanks for your reporting this issue.
This is true and needs to be solved in the future.
Feel free to post a Pull Request integrating multiple EmailAddress in an easy way.
Thanks :-D

[2015-04-29 13:15] mgrundkoetter commented on #34
Yes, I will. Any hints where I can find the valid possibilities for the attributes? (like WORK;HOME;PREF;...) Which spec document are you using for the vcard?

[2015-04-29 13:23] jeroendesloovere commented on #34
Hi, for VCard the spec is: [rfc6350](http://tools.ietf.org/html/rfc6350#section-10.1)

[2015-05-04 11:29] mgrundkoetter commented on #34
I have opened a pull request with a simple solution for this. The "PREF" property is implemented the same way it has been for phone already (just PREF as attribute along with others like "WORK" and so on). The spec shows it slightly different (PREF=<INT>;). As I think the output should be consistent here, we could either take the simple solution which also keeps compatibility to the current implem

[2015-05-26 08:11] tristanleboss opened #40 "Why is JeroenDesloovere\VCard\VCard::addMedia() private?"
Hello,

I am wondering why JeroenDesloovere\VCard\VCard::addMedia() is private? Indeed, because of this, it's impossible to add a logo.

There is a addPhoto method but no addLogo method. Unfortunately, calling addMedia('LOGO', URL) directly will throw an error.

Regards,

Tristan

[2015-05-26 09:13] jeroendesloovere commented on #40
Hi @tristanleboss,
You can use -> addPhoto() which has the same result.

[2015-05-26 15:55] tristanleboss commented on #40
addMedia allows to specify the type LOGO or PHOTO as its first parameter. addPhoto doesn't allow this, it only accepts the filename and calls addMedia with PHOTO as type.

[2015-05-27 08:24] jeroendesloovere commented on #40
Yes I know, I remember that the VCard class once had the addLogo() function. But I removed it, because loading in a vcard on the computer, only one image was used.
If you like, I can still add that function again, @tristanleboss ?

[2015-05-27 08:25] #34 closed

[2015-05-28 18:11] verevskoy opened #41 "newline symbol at end of mime-type"
https://github.com/jeroendesloovere/vcard/blob/75508baac804fb0995e0df94b306d4f1c72def53/src/VCard.php#L163

Why **"\n"** at the end?

[2015-05-29 07:26] jeroendesloovere commented on #41
@verevskoy I've got no idea. Thanks for mentioning!
That must have come in by a PR.

I've removed it in the "master" branch.

[2015-05-29 07:26] #41 closed

[2015-06-01 12:48] jeroendesloovere commented on #30
Hi @three3211.
This functionality is integrated since [1.2.0](https://github.com/jeroendesloovere/vcard/releases/tag/1.2.0)

[2015-06-01 12:48] #30 closed

[2015-06-01 12:48] jeroendesloovere commented on #40
@tristanleboss bump

[2015-06-10 06:56] #40 closed

[2015-06-10 06:59] jeroendesloovere commented on #22
Hi @SmokeyBrandie, I'm closing this issue because I already fixed this :+1:

[2015-06-10 06:59] #22 closed

[2015-07-12 15:19] netidan opened #42 "AJAX"
im trying to use your plugin with ajax request, and i need to download the file at the end.
the vcard is being created but not downloaded, can u please help?
thanks
website: http://bestcard.shakuf.tk/?page_id=2

[2015-07-13 09:44] mgrundkoetter commented on #42
Can you please post some code? Maybe in a Gist?!

[2015-07-13 13:42] jeroendesloovere commented on #42
Hi @netidan,

Thanks for your question.
I guess you where using ```$vcard->->download()```? If so, you have to change that way of working. There are a lot of solutions.

Example:
* Saving the vcard to a file
* Pushen the URL to that file in your AJAX response.
* Let Javascript open a new window to that vcard

[2015-07-13 14:34] netidan commented on #42
hi,
yes you are right im using $vcard->download()
i changed the ajax to simple form and now its working.
thanks.

[2015-07-14 07:37] jeroendesloovere commented on #42
@netidan Glad I could help you.

[2015-07-14 07:37] #42 closed

[2015-07-14 07:41] jeroendesloovere commented on #42
Thanks to @mgrundkoetter for helping to maintain the issues :+1:

[2015-07-14 12:14] netidan commented on #42
hi i have another problem.
i need to save the vcard file with ansi (WINDOWS-1255) encoding.
i tried to change public $charset to windows-1255 but it didnt work (the file i download is encoded in utf8 without bom)
i managed to fix it on Chrome by adding accept-charset="windows-1255" attr to the form but it doesnt work on ie.
any suggestions?
thanks

[2015-07-16 09:43] netidan opened #44 "encoding problem"
hi i have another problem.
i need to save the vcard file with ansi (WINDOWS-1255) encoding.
i tried to change public $charset to windows-1255 but it didnt work (the file i download is encoded in utf8 without bom)
i managed to fix it on Chrome by adding accept-charset="windows-1255" attr to the form but it doesnt work on ie.
any suggestions?
thanks

[2015-07-16 10:12] netidan commented on #44
(sorry for double posting the other thread was closed)

[2015-07-20 07:31] netidan commented on #44
fixed by adding some js
document.charset = 'WINDOWS-1255';

[2015-07-20 07:31] #44 closed

[2015-07-20 07:50] jeroendesloovere commented on #44
@netidan Thanks for mentioning your fix!

[2015-07-22 15:32] dvlppr opened #45 "Vcard Encoding"
How can I add  latin1 (iso8859-1) support ?
i have `ChargÃ©(e)` instead of `Chargé(e)`

[2015-07-23 06:44] jeroendesloovere commented on #45
Hi, would it help you if there was a ->setCharset($charset) method?

[2015-07-23 08:02] dvlppr commented on #45
What I have to do to have the correct encoding is (from your example)
[code]

[2015-07-23 13:39] jeroendesloovere commented on #45
The default encoding works fine for me. But I've added the setCharset() and getCharset() functions so everyone can do what he likes. Check the [latest release 1.2.1](https://github.com/jeroendesloovere/vcard/releases/tag/1.2.1) for these functions.

[2015-07-23 13:39] #45 closed

[2015-08-19 14:37] jeroendesloovere opened #48 "Problem with Persian characters"
**Problem**

As described by @sajjadrad, building a vCard with some Unicode characters (for example in persian : سجاد راد ) isn't creating the right words (false => ط¨ط§ط²غŒع¯ط±). And when importing in Microsoft Outlook, it is wrong.

Check #47 for more information

[2015-08-19 14:37] jeroendesloovere commented on #48
Anybody has a solution for this?

[2015-09-25 09:24] kaihendry opened #49 "PHP Fatal error: Class 'JeroenDesloovere\VCard\VCard' not found in /srv/www/autofill.dabase.com/vcf/index.php on line 6"
<img src=http://s.natalian.org/2015-09-25/1443172951_1912x1036.png>

What am I missing?

[2015-09-25 09:33] kaihendry commented on #49
After reading https://jtreminio.com/2012/10/composer-namespaces-in-5-minutes/ and f!cking around for 10 minutes I discovered:

    require_once __DIR__.'/vendor/autoload.php';
    require_once __DIR__ . '/vendor/jeroendesloovere/vcard/src/VCard.php';
    use JeroenDesloovere\VCard\VCard;

Not entirely sure why it's so hard. :(

[2015-09-25 09:33] #49 closed

[2015-09-25 10:37] kaihendry opened #50 "addName"
I want to be able just supply a name http://autofill.dabase.com/ in free form. And that would just become:

     FN;CHARSET=UTF-8:John Doe

Could your API be simpler, please?

[2015-11-26 08:53] netidan opened #52 "BUG: Can't download vCard with image in native Android browser"
hi man,
thanks again for this plugin,
im having problems saving the vcf file, when i click on the download button nothing happens, i see the url is changing to the php file i made, but the download of the vcf file is not starting.
thanks

[2015-11-27 16:26] gizzm0 opened #53 "Not Working with UTF-8 and Outlook 2010 Windows 8 Machine"
Hi Jero,

nice small project y worte, ty for that!

I foudn after 3 hours now, that for working in outlook we need to "utf8_decode" the output to show right chars in outlook 2010. I know that this is a f..ing s..t bug from outlook but i need to support it. So i either have to copy your code and adapt it, or you/me could integrate this into the VCard class. It is quite simple.

   public function g

[2015-11-30 07:25] jeroendesloovere commented on #53
Hi @gizzm0? Outlook truly sucks.
But indeed, as a dev you need to support that piece of crap to.
I'll look into this.

[2015-11-30 07:31] jeroendesloovere commented on #53
Updated the master with https://github.com/jeroendesloovere/vcard/commit/af7401396156d15513bbf73e12c5b7a839413ca5

[2015-11-30 07:33] jeroendesloovere commented on #53
Can you confirm that this [release](https://github.com/jeroendesloovere/vcard/releases/tag/1.2.2) fixes the problem?

[2015-11-30 07:43] jeroendesloovere commented on #52
Hi @netidan,
Can you give a little more information about which framework you are using?
Which function do you use? ```->download()```?

[2015-11-30 07:46] netidan commented on #52
what do u mean freamwok? bootstrap etc?
yes im using ->download()
this is the code im using to create the vcard:
$vcard->addName($lastname, $firstname, $additional, $prefix, $suffix);

// add work data
$vcard->addCompany($_POST['company']);
$vcard->addJobtitle($_POST['job']);
$vcard->addEmail($_POST['email']);
$vcard->addPhoneNumber($_POST['phone'], 'WORK');
$vcard->addPhoneNumber($_POST['cell'],

[2015-11-30 08:09] gizzm0 commented on #53
Hi Jero,

thank you for the fast reply and fix, thats really great!

Yes i can confirm that this fixes my problem with Outlook 2010 and additionaly i testes it with www.gmx.de ( a german email provider with webinterface) and it works too:-)

Best regards gizzmo

[2015-11-30 08:26] jeroendesloovere commented on #53
Thanks @gizzm0 for your quick answer.
Glad it solved your problem.

[2015-11-30 08:26] #53 closed

[2015-11-30 08:28] jeroendesloovere commented on #52
Hi @netidan,
by framework I mean something like Symfony2, Laravel, CakePHP, ZendFramework, ...
Each has its own way of handling "http headers", which are required for outputting the ".vcard".

[2015-11-30 08:35] netidan commented on #52
I'll have to check with my hosting.
I'll update soon

[2015-11-30 08:36] jeroendesloovere commented on #52
@netidan, I guess that $fullname can potentially trigger an error why its not exporting!
Wait, I'm rewriting your code.

[2015-11-30 08:39] jeroendesloovere commented on #52
[code]
You should also check if every $_POST exists, because otherwise this can throw errors in your code,
resulting in not exporting the .vcard.

[2015-11-30 08:43] jeroendesloovere commented on #50
Hi @kaihendry, that is bad practice.
FirstName and LastName must be separated.

[2015-11-30 08:43] jeroendesloovere commented on #50
But I understand why you want such functionality.
I'll think about it.

[2015-11-30 09:02] netidan commented on #52
yes they all work, it also works in other devices i checked (apple,samsung,oneplus,nexus)
and also works on pc.
the problem only occurs to me on lg devices (i checked g3 and g4)

[2015-11-30 09:04] netidan commented on #52
about the framework, sorry i misunderstood,  im not using any php framework.
its a wordpress site, using a template based on pure php without any framework.
the only framework in use is bootstrap3

[2015-12-02 16:28] netidan commented on #52
hi jeroen, i changed my code as you instructed, but the problem remains.
i try to rewrite the code, saving only name without variables at all, still always get the error, and only in lg phones in the native browser. the problem does not occur on chrome.
did u checked the problem on lg native browser?
thanks

[2015-12-02 16:59] netidan commented on #52
http://bestcard.co.il/gil-shemgar/
the download contact button is the blue button with the user and + icon on it

[2015-12-08 19:05] JoeThielen commented on #50
I would like to second this request.  Although I personally completely agree that the name should be separated as much as possible, sometimes we're faced with situations where we're not in complete control of the data we receive or have to work with.

[2015-12-08 19:30] JoeThielen opened #54 "Add UID?"
Hello, thanks for the project, I think it's great, almost perfect for what I'm looking for.

Can we get UID added as a supported property?

I just basically duplicated the addURL() method for my own use.  But I'm a bit confused on what to put in the comment for $type... I think "UUID" would be relevant, but more explanation on the issue can be found at the following link, and I'm curious as to you

[2015-12-09 16:00] JoeThielen commented on #54
I'd also like to add the ROLE property.  In the RFC I don't see that it supports any parameters or anything,   So for this I think duplicating the addNote() method would work.

[2015-12-30 17:25] maxinuss commented on #53
Guys, this change cause charset codification problems in Thunderbird. You should remove this fix and change this line in buildVCard() methond to fix it in Outlook:

$string .= $this->fold($property['key'] . ':' . $property['value'] . "\r\n");

replace with:

$string .= $this->fold($property['key'] . ';charset=utf-8:' . $property['value'] . "\r\n");

[2016-01-14 08:04] netidan opened #56 "please help - cant download in native android browser"
hi jeroen,
im still having problems saving vcf files in native android browser, apparently the problem is not related to lg phones as i thought.
i found out that if i remove the image i can download the file.
you previously marked my issue as invalid, i beg you to take another look before you decide to do so again.
many thanks

[2016-01-29 09:49] gizzm0 commented on #53
@jeroendesloovere @maxinuss is right my fix does not work in Thunderbird, but the fix from maxinuss works, i tested it for Outlook 2010 Win8 and Thunderbird 38.5.1 Win8

[2016-02-17 07:45] jeroendesloovere commented on #56
Hi @netidan,
hmmm sorry to hear that.
Its difficult for me to test this on Android, since nobody in my environment has an Android.
Everybody has switched to iOS.
Anybody to the rescue here?

[2016-02-17 07:47] jeroendesloovere commented on #54
Hi @JoeThielen,

A pull request with your changed code would be awesome.

UnitTests:
Yes, just duplicate an existing one an add some "true" and maby "false" validations.

[2016-02-17 07:49] jeroendesloovere commented on #56
Closed since duplicate issue for #56

[2016-02-17 07:49] #56 closed

[2016-02-17 07:56] jeroendesloovere commented on #50
Hi @kaihendry, you can just do the following:
[code]

[2016-02-17 07:57] #50 closed

[2016-02-27 22:45] audas opened #57 "Images"
Hi - images are being encoded and appear when in phone, however not in outlook or Microsoft Address book, nor Thunderbird.

And ideas on this ?

[2016-03-15 15:03] giorgiopagnoni commented on #48
Same with accented letters (e.g. à è ò é), that come up as ? on Android.

[2016-03-15 15:16] jeroendesloovere commented on #48
@giorgiopagnoni Can you tell me which version you are using?

[2016-03-15 15:20] giorgiopagnoni commented on #48
1.2.2. Should I switch to another one?

[2016-03-15 15:45] giorgiopagnoni commented on #48
It seems to be working if I utf8_encode my fields.

[2016-03-28 09:58] sajjadrad commented on #48
I added utf8 encoding to all tags in my last commit but as you said It's not standard.I found another bug in IOS contact.
![image](https://cloud.githubusercontent.com/assets/1608837/14075769/3f8cb830-f4f1-11e5-839d-4aec5a833a63.jpeg)

[2016-03-31 17:30] HostedDinner opened #59 "getOutput() "destroys" UTF-8"
If the output is suppose to be UTF-8 ($this->getCharset() == 'utf-8') then it is a bad idea to use the function utf8_decode to convert most exotic characters back to ISO-8859-1...
This will always lead to missing UTF-8 characters in the output.

[2016-04-14 14:58] rkorebrits opened #60 "Submit URL for image"
Why is there only and option to specify and image via a local path, why can we not just provide a URL?

Otherwise really like the tool! Thanks!

[2016-04-15 06:29] jeroendesloovere commented on #60
Hi @rkorebrits.
Don't know, didn't really tested this with external image.
I guess when using external url, the $include should be true then?

[2016-04-15 06:31] jeroendesloovere commented on #48
@sajjadrad You should use the class and not adding utf8 encoding.
Everything works fine in iOS.

[2016-04-15 06:31] #48 closed

[2016-04-15 06:33] jeroendesloovere commented on #57
Hmmm, maby just buying a decent OS will do the trick. I could recommend Mac OS X

[2016-04-15 06:36] jeroendesloovere commented on #52
@netidan Probably something to do with the headers

[2016-04-15 06:40] #28 closed

[2016-04-15 06:41] jeroendesloovere commented on #17
Hi @wadmiraal, any news about this?

[2016-04-15 07:01] audas commented on #57
Ummm. Not due to the operating system. Doesn't work.

[2016-04-15 07:07] jeroendesloovere commented on #57
@audas Everything works perfectly on Mac OS X, so this is definitely a Windows OS flaw (as always).
Can you give us
- the exact version of your OS?
- the exact version of your mail program?

So I can take a look.
Thanks

[2016-04-15 07:37] sajjadrad commented on #48
@jeroendesloovere check this out:
https://atbox.io/sajjad/vcard

Persian characters problem exists in MS outlook,ios and android contact.

[2016-04-15 07:55] audas commented on #57
Actually its not going to be a windows OS flaw because every other library works with images in calendar images. If it was an OS flaw, none of them would work. Hence its  a flaw in your code - pure and simple.

Does not work on ANY windows devices from 7 - 10 on any clients. Basically it only works on iPhone.

Does not even work in Chrome.

[2016-04-15 08:48] jeroendesloovere commented on #48
Thanks @sajjadrad
Can you copy/paste the exact PHP code that you used over here? Thanks
![schermafbeelding 2016-04-15 om 10 48 10](https://cloud.githubusercontent.com/assets/588616/14556256/8f74a2ae-02f7-11e6-92a5-eed266f56bc5.png)

[2016-04-15 09:00] sajjadrad commented on #48
@jeroendesloovere  I found the problem. while converting with utf8_decode function, unicode characters converted to question mark (?) as wrong. You used this function for show it properly in MS outlook. I commented it and used exported vcard in android and ios, problem solved but the old problem (outlook) exists while utf8_decode function doesn't use.

[2016-04-15 09:02] rkorebrits commented on #60
Looks like `$include` should be `false`, however the format that comes out is incorrect, according to https://en.wikipedia.org/wiki/VCard#vCard_3.0 and I've tested it and it doesn't work.

The output when false is: `PHOTO:http://foo/bar.png`, but according to Wikipedia should be `PHOTO;VALUE=URL;TYPE=GIF:http://www.example.com/dir_photos/my_photo.gif`

[2016-04-15 09:03] sajjadrad commented on #48
I checked output with utf8_decode function in MS outlook. like andorid and ios all persian characters replaced with question marks.

[2016-04-15 09:19] jeroendesloovere commented on #48
Don't really know what you mean and what I have to do?

[2016-04-15 09:23] jeroendesloovere commented on #60
Hi, thanks @rkorebrits for the information.
Don't have time to adjust this.
Can you create a PR for this?

[2016-04-15 09:23] rkorebrits commented on #60
I amended the code to match the correct format for V3.0 and sent you a pull request

[2016-04-15 09:24] sajjadrad commented on #48
I think outlook problem is from it's charset config. I couldn't find any charset settings. The file encoding is right but outlook open it without utf-8 encoding.

[2016-04-15 09:25] sajjadrad commented on #48
Outlook is opening file with Arabic(windows-1256) encoding. It's wrong.

[2016-04-15 09:27] sajjadrad commented on #48
This is the problem:

http://stackoverflow.com/questions/8617439/utf8-encoding-with-vcards-in-windows

Also, please remove this code for correct encoding in ios and android:
https://github.com/jeroendesloovere/vcard/blob/master/src/VCard.php#L580

[2016-04-15 09:49] wadmiraal commented on #17
The project I'm working on got a bit delayed, but this feature will
definitely be needed. I'm already leveraging your library for the export
part (which works really well), and will start working on the import in the
coming weeks. When done, I will definitely submit a PR.

[2016-04-15 11:24] sajjadrad commented on #48
This bug fixed is pull request #51 but it has not any tags. Composer updates v1.1.2 while pull request has been merged with dev master.

[2016-04-15 11:47] sajjadrad commented on #48
Just utf8_decode function must removed, because each line has charset attribute and there is no need to this function for converting.

[2016-05-18 14:19] jeroendesloovere commented on #60
Thanks @rkorebrits, I will look at it.

[2016-05-30 10:49] wadmiraal commented on #17
[PR here.](https://github.com/jeroendesloovere/vcard/pull/63)

[2016-05-30 10:49] #17 closed

[2016-05-30 10:51] wadmiraal opened #64 "Remove PHP 5.7 from Travis"
The builds keep failing because of the PHP 5.7 environment. I suggest you remove it, as a failed build badge doesn't inspire confidence, which is a shame, because your library works fine.

[2016-05-30 11:55] #64 closed

[2016-05-30 11:55] jeroendesloovere commented on #64
Thanks @wadmiraal, fixed it

[2016-05-30 12:35] #60 closed

[2016-05-30 12:46] jeroendesloovere commented on #52
Hi @netidan,
I'm coming back to you with your image problem.
I've downloaded the vcard from the URL you provided and copy/pasted the image base encoding "data URI" from the .vcard to an [image converter website](http://codebeautify.org/base64-to-image-converter). And the image is showing up fine.

I'm sorry, I don't have an LG phone, so I can't test your problem ;-(
Did you find a solution yet?

[2016-05-30 12:46] #52 closed

[2016-05-30 12:47] jeroendesloovere commented on #57
Hi @audas,
I'm coming back to your image problem.
There are already some releases since you had that problem.
Could it be possible to test again and notify me if it works or not?

Would be nice.

[2016-05-30 12:47] #57 closed

[2016-05-30 12:48] jeroendesloovere commented on #57
I've closed this for now.

[2016-05-31 07:01] netidan commented on #52
hi,
i didnt find a solution,
the problem occurs on any android phone while using native android browser,
i have given up on this matter.
but thanks for the support :)

[2016-05-31 07:37] jeroendesloovere commented on #52
I think that the problem lies with the PHP headers that are being send.
Found a similar problem.

If you could just test headers like:
[code]

[2016-06-01 19:41] osaki3b3 opened #68 "How to load in the VCard php library?"
Hi

I have been trying to use this class with no success, I use it in a custom class I am calling it as follows

require_once($_SERVER['DOCUMENT_ROOT'].'/path/to/vcardclass/vcard-master/src/VCard.php');
use JeroenDesloovere\VCard\VCard;

$vcard = new VCard();
		$firstname = 'Jeroen';
		$lastname = 'Desloovere';
		$additional = '';
		$prefix = '';
		$suffix = '';

		// add personal data
	->	$vcard-

[2016-06-01 19:53] lighthouse72 commented on #68
Hi osaki3b3,

I had the same problem, found that including the php intl and change
  return Transliterator::transliterate($value);
to
  return Transliterator_transliterate($value);
made some parts working. But found other parts are not working.

Later i found this line next line in src/VCard.php
  use Behat\Transliterator\Transliterator;
this can be found here https://github.com/Behat/Transliterat

[2016-06-02 06:36] jeroendesloovere commented on #68
Hi, looks like you downloaded the files, that is a difficult way.

The new way of loading in external php libraries works like this.

**1. Add a composer.json file in your root folder**
With the following content:
[code]
**2. Then open your terminal (on MAC)**
And type:
[code]
Then the VCard class and all other dependencies (to make it work) will be installed.
**3. Requiring the vendor/autoload.ph

[2016-06-02 14:33] lighthouse72 commented on #68
@jeroendesloovere thanks for the info.
After a php time-out of 5 years thinks change. First i needed to install the Composer, which gave me some problemen but works now. I installed the way it was intended in the README.md, but i needed the above info to get started.

Thanks for the info.

[2016-06-02 15:38] jeroendesloovere commented on #68
You're welcome.
Indeed, things change rapidly. I'm glad you could get it to work.

[2016-06-02 15:44] osaki3b3 commented on #68
Thanks for your prompt reply jeroendesloovere. Will test as you suggest.

[2016-06-06 12:48] #68 closed

[2016-06-17 17:07] aserra opened #69 "Version 3.0 - Mac OS X 10.11.5"
Hi @jeroendesloovere

Parser does not recognize the previous parameter "item1" at EMAIL line and not entry into the switch cases.

I post you an example:

BEGIN:VCARD
VERSION:3.0
PRODID:-//Apple Inc.//Mac OS X 10.11.5//EN
N:;Albert;;;
FN:Albert
item1.EMAIL;type=INTERNET;type=pref:alberttest@gmail.com
item1.X-ABLabel:_$!<Other>!$_
UID:a842653d-3353-45a3-a6b9-c7fd95c1380c
X-ABUID:A842653D-3353-45A3-

[2016-06-19 05:42] netidan commented on #52
hi jeroen, i dont understand where to add this code, could you please help? this is my code for generating vcard:

require_once __DIR__ . '/vendor/autoload.php';
require_once __DIR__ . '/src/VCard.php';

use JeroenDesloovere\VCard\VCard;

// define vcard
$vcard = new VCard();

// define variables
$nameVars = explode(' ', $_POST['name']);
$firstname = (isset($nameVars[0])) ? $nameVars[0] : '';
$las

[2016-06-19 19:28] jeroendesloovere commented on #52
Hi @netidan,
Are you using `composer require jeroendesloovere/vcard` to load in the VCard?

[2016-06-20 07:01] jeroendesloovere commented on #69
Hi @wadmiraal, can you look into this?

[2016-07-04 10:18] wadmiraal commented on #69
On it. I wasn't aware of this "group" construct (RFC mentions it, though).

[2016-07-04 10:44] wadmiraal commented on #69
There. Unit tests included.

[2016-07-04 15:26] wadmiraal commented on #69
PR here: #72

[2016-09-27 12:31] cedriccharles4 opened #75 "Use issues..."
Hello,

I want to use your class in a project and I'm trying to make it work, but I can't.

Here is the content of my composer.json :
`{
    "name": "philippepartners/law",
    "require": {
        "drewm/mailchimp-api": "^2.1",
        "jeroendesloovere/vcard": "1.2.*"
    }
}`

I have install/update composer on my project. My project is a WordPress site. The file functions.php is called on every

[2016-09-28 05:20] jeroendesloovere commented on #75
Hi Cedric,
I've looked to you code, can you check if the following lines solve your problem?
`require_once __DIR__ . '/../vendor/autoload.php';`

and/or
`use JeroenDesloovere\VCard\VCard`;

[2016-09-30 10:38] SimonHeimberg opened #76 "visit card with only email address gets no filename (edge case)"
When I create a visit card with almost no data (only email address in my example), then filename is empty. On downloading, this resulted in a file named "vcf". (No idea where the leading . (point) was lost.)

This case could be handled in getHeaders (and maybe save and buildVCalendar). I propose a flag to getFileName. When this is set, then 'someone' is returned instead of an empty string.

This i

[2016-10-03 07:51] jeroendesloovere commented on #76
Hi, thanks for notifying.
Can you create a pull request for this and use "unknown" as filename?
Thanks in advance.

[2016-10-20 09:14] cedriccharles4 commented on #75
Hi Jeroen ! Thank it works :) !

I have another issue. So this totally works on my localhost. I've pushed my code to my production server and I have an error, but I don't understand why...

Thank you for your help !

[2016-10-20 12:15] jeroendesloovere commented on #75
Hi, the error you mention is triggered on this line:
https://github.com/jeroendesloovere/vcard/blob/master/src/VCard.php#L206

Solutions:
* "file_get_contents" is not working because "allow_url_open" is probably disabled on your hosting. Can you do "phpinfo();" and check if "allow_url_open" is enabled (= ON) on your server?
* Otherwise the $url that you submit to `addMedia()` is a non existing URL

[2016-10-20 12:16] jeroendesloovere opened #79 "Add fallback for file_get_contents()"
Somebody had errors using addMedia() and "file_get_contents()" (#75)
So maby we should add a fallback like in [this example](https://en.code-bude.net/2013/08/14/php-workaround-how-to-use-file_get_contents-without-allow_url_fopen/)

[2016-10-20 12:26] cedriccharles4 commented on #75
Hi jeroendesloovere,

You were right, "allow_url_open" was disabled on this host ! Thank you !

[2016-10-20 13:32] jeroendesloovere commented on #75
@cedriccharles4, I'm glad I could help you.

[2016-10-20 13:32] #75 closed

[2016-10-20 13:54] #76 closed

[2016-11-18 16:14] roybman opened #82 "How to load in the VCard php library?"
I saw this question posted previously, and am aware the advised solution is to install composer.  However, I am running on a shared server and do not have the option of installing composer.  Downloading the files is the only way I can use this.  If there is another way I'm not aware of, I'm open to it.  Is there a set of files available for download?

[2016-11-18 16:35] jeroendesloovere commented on #82
Well, the most easy way to do this is that you can use composer locally.
Then upload (copy/paste) the entire `vendor` folder to your shared server.
And then add the following to your PHP file where you want to use the VCard:
[code]
Note: I would also advice to upload the composer.json and composer.lock to your server if you for any reason want to update it later...

[2016-11-18 16:48] roybman commented on #82
Thanks for the quick response.  I haven't done this and will need to look into the particulars of how.

[2016-11-18 16:52] jeroendesloovere commented on #82
Well, I don't know your skill level.
Here is some documentation to help you install composer:

# Composer

## Usage

### Installation

#### On MAC
[code]

Now we move it to our folder, so we can now use 'composer' as a global object.
[code]

We should now use ```composer```

#### On Server

[code]

We should now use ```php composer.phar```

### Example

We change the directory to the folder where

[2016-11-18 17:02] roybman commented on #82
Thanks.  In regards to skill level, I'm not expert, but know enough to be dangerous.  In regards to installing composer locally, I'm working on a Windows machine, but the shared server is Linux.  Would the "On Server" instructions above be run from a Windows command line, or from something like XAMPP?  Just fyi, I have been developing a new site and doing all testing right on the server, so have n

[2016-11-18 17:12] jeroendesloovere commented on #82
Euhhh, Windows, don't know, all developers I know have MAC.
I think you will need to install "Putty" on Windows to be able to give in "terminal commands".

[2016-11-18 17:22] to-be-the-best commented on #82
https://getcomposer.org/doc/00-intro.md#installation-windows

[2016-11-18 17:26] roybman commented on #82
Thanks.  I was actually already on that page reading it.  I'm debating on taking the time now to figure this out or going ahead without Vcard on the site for now and coming back to this at a later date.

[2017-01-19 10:43] Musiksammler opened #85 "Content-length returns "0" when charset is set to other than "utf-8""
I had the problem, that I had to set the charset for vcards to "ISO-8859-1". And every data that was set into the vcard was converted using "utf8_decode".

On my development machine everything worked as expected but on the real server the downloaded vcards where just empty.

The reason is, that in "getHeaders($asAssociative)" the "strlen($this->getOutput())" call returns "0" for some reason.

[2017-02-20 02:34] adamroyle opened #87 "Error with using $url addMedia"
This change https://github.com/jeroendesloovere/vcard/commit/ea119a3de27ddb12cd7b71d5cd769e040dfc7909 has caused issues on php 5.6 in my app. I get the following error:

[code]

I'm guessing because I'm passing a url instead of a file location, and mime_content_type() doesn't automatically download the file?

[2017-03-03 22:58] claytoncollie commented on #87
for a quick fix change line 218 to $mimetype = 'image/jpeg'; if you are adding a jpg of course.

[2017-03-07 18:48] mvasin opened #88 "Non-latin letters break vCard"
Here's the code I use for test:

[code]

Import into contact book on macOS Sierra 10.12.3 goes fine.

But when I use Cyrillic letters...
[code]
I get this error when I try to import on macOS:

This is the generated **broken** card:

[code]

To compare, when I make up a similar card in macOS Contacts app and export it, here's the **working** (importable) vCard I get:
[code]

[2017-03-07 18:55] mvasin commented on #88
I notice, there is no `END:VCARD` in the end of broken vCard, and url field is chopped.

When I simplify code further, leaving just name, here's what it the browser downloads:

[code]

This "�" obviously does not belong here, and the rest of the vCard is trimmed.

For a name with latin letters, vCard download looks just fine:

[code]

[2017-03-07 19:03] mvasin commented on #88
When I use `return $vcard->save();` instead of `return $vcard->download();`, it does save the proper (not-trimmed) vCard on the harddrive.

So, can we fix the `download()` method?

[2017-03-08 17:26] DevNIX commented on #87
Why not trying something like this? https://github.com/trippo/ResponsiveFilemanager/blob/master/filemanager/include/mime_type_lib.php

[2017-03-08 23:37] adamroyle commented on #87
The problem is not in detecting the mime type - the problem is the regression in functionality. The previous code would detect the mime type from a base64'd value of the data, whereas the new code uses `mime_content_type()` of the URL, which doesn't work because it's a url and not a file location.

I'm not sure why this code was changed, but I see the following options:

1. Revert this change **OR

[2017-04-04 22:29] ApeWare commented on #87
Doing some updates and ran into this exact issue. We store our images on s3 and pass the url to `addPhoto($url)` and now we are getting the mime_content_type() error.

Is there a reason for this breaking change other than to reduce the library by 3 lines of code?  Debating on forking and rolling back this change, but would prefer to understand why the change was important.

[2017-04-04 23:20] ifunk commented on #87
Instead of forking we have just fixed our version at 1.2.2. At this time there's no need for us to upgrade to a newer version as we've been running it in production for over a year and have had no issues.

[2017-04-15 17:01] axelitus commented on #87
I have the same issue. `mime_content_type()` does not work with urls, just local filenames. If the media contents has been already downloaded why not use that to verify the mime_type and do another request just to get the mime_type? I don't understand this change...

[2017-04-18 13:34] #82 closed

[2017-05-04 12:00] turkelt0n opened #91 "vCard is downloaded as html"
On my Android-Phone (Android 4.4.2) with the standard browser, the vcard is dowloaded as a .html-file

[code]

I did also test this on an Iphone 6 (Safari, iOS 9.3.4): It doesn't  download but instead views the vcard data directly in the browser.

Any suggestions? Thanks!

[2017-05-04 13:13] aelores opened #92 "addPhotoEncoded() disappeared"
Hi,

First I want to thank you for your work. This is great.

Since the last upgrade I cannot use the base64 string image format. It seems that "addPhotoEncoded" has disappeared.
IS there a replacement mechanism for this situation ?...

Best regards...

[2017-06-06 14:10] fmcdigital opened #94 "addPhoto error"
I'm having the following issue:
[code]

When trying to use the default image:
[code]

[2017-06-09 00:05] JoelLisenby opened #95 "Folded line causing cut-off cities in certain vcards"
Problem: Certain region names are being cut off in vcards with longer addresses where the line requires folding. Issue is occuring when opened with "Windows Contacts" on Windows 10.

Is there something wrong with this vcard? It seems correct at first glance.

Thanks!

**Example vcard with problem**
[code]

**Related spec info**

source: https://tools.ietf.org/html/rfc6350#section-3.2

[2017-06-25 09:55] Synchro commented on #94
I've run into this too, and I've tracked down the problem. The `addMedia` method calls `mime_content_type`, which does not work with URLs, only local paths. This is just a bug, needs fixing. The thing which is annoying is that the code to extract the MIME type from response headers is already there in the part that's used if you set `include = false` - it just needs checking before it gets to ther

[2017-06-27 11:10] #87 closed

[2017-06-27 11:51] #94 closed

[2017-06-27 11:55] to-be-the-best opened #97 "Bug in VCardTest.php"
https://github.com/jeroendesloovere/vcard/blob/master/tests/VCardTest.php#L201

[code]
is clearly wrong, possibly the following is a solution:
[code]

[2017-06-27 12:23] #97 closed

[2017-06-27 12:23] jeroendesloovere commented on #97
Nice catch

[2017-08-25 09:40] daviddelusenet commented on #91
I'm also experiencing this issue. Have an iPhone 7 running iOS 10.3.3. @jeroendesloovere why doesn't this work?

[2017-08-28 06:39] daviddelusenet commented on #91
@turkelt0n @jeroendesloovere I came to the conclusion that this issue has to do with the setting the wrong headers. I'm using Symfony and I used to have this setup:

[code]

This setup worked on desktop computers but failed on mobile devices. Then I did some research and saw the wrong headers were being set. So I changed my code to the following:

[code]

And this works on Android and iOS.

[2017-09-06 15:23] claytoncollie commented on #79
I'm not the greatest with github just yet.

in VCard.php, replace lines 231-235 with

`if (function_exists('curl_version')) {

            $curl = curl_init();
            curl_setopt($curl, CURLOPT_URL, $url);
            curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);
            $value = curl_exec($curl);
            curl_close($curl);

        } elseif (file_get_contents(__FILE__) && ini_get('a

[2017-09-08 09:31] maj0rr commented on #91
Any update on this?
Got same issue.

$vcard->download();
Return person.vcf.json in safari
and person.vcf in chrome

Which header do I have to set to get this work properly?

[2017-09-08 09:35] daviddelusenet commented on #91
@maj0rr I'm using the Symfony framework and manged to get it working with the `Symfony\Component\HttpFoundation\Response` class. This is what I did:

[code]

The `$vCard` variable just contains the vCard returned as string (snippet from another file: `return $vcard->getOutput();`).

This worked for me. Good luck!

[2017-09-08 10:09] maj0rr commented on #91
Thanks @daviddelusenet,
that works for me also!

`
use Symfony\Component\HttpFoundation\Response;

$content = $vcard->getOutput();

$response = new Response();
$response->setContent($content);
$response->setStatusCode(200);
$response->headers->set('Content-Type', 'text/x-vcard');
$response->headers->set('Content-Disposition', 'attachment; filename="'.str_slug($name).'.vcf"');
$response->headers->s

[2017-09-12 16:33] claytoncollie commented on #95
running into this problem as well.  Mainly for addAddress()

[2017-09-19 11:16] jeroendesloovere commented on #91
Good job guys!

[2017-09-19 11:16] #91 closed

[2017-09-19 20:15] to-be-the-best opened #98 "PHP version"
I noticed that in the composer file a PHP version of 5.3.3 is still accepted, while the code actually uses version 5.4 and above, meaning the code is no longer running at 5.3.3.
Personally, I would like to follow the example of Symfony 3 and increase the php version in the composer file to 5.5.9.
I am very curious about your opinion.

[2017-10-07 12:06] icetear opened #99 "macOS address book export - parsing not complete"
Hello,

giving the parser a file with contents such as this:

`BEGIN:VCARD
VERSION:3.0
PRODID:-//Apple Inc.//Mac OS X 10.13//EN
N:;;;;
FN:Arzt Keitel-Stöckert
ORG:Arzt Keitel-Stöckert;
item1.TEL;type=pref:0521 891775
item1.X-ABLabel:HOME\,VOICE\,pref
ADR;type=WORK;type=pref:;;Apfelstraße 56;Bielefeld;;33613;
NOTE:MO – DO	8.00 – 11.00 Uhr\nMO\, DI\, DO	15.30 – 18.00 Uhr\nFR	8.00 – 12.00 Uhr\nTermin

[2017-10-07 16:02] robbiereynolds opened #100 "VCard.php Line 92 | missing semicolon | addAddress()"
When adding a country field addAddress(), I noticed base64 encoding of photo being added in vcard. After the function call of

`$vcard->addAddress(null, null, $vcard_street_address, $vcard_city, $vcard_state, $vcard_postal_code, $vcard_country);`

I am calling `$vcard->addPhoto($vcard_photo);`

...and no photo is being added to vcard.

Solution: jeroendesloovere/vcard/src/VCard.php Line 92

`$valu

[2017-10-14 18:55] DieterKoblenz commented on #7
Any plans for this? Would be most useful!

[2017-10-28 12:54] to-be-the-best commented on #98
If you want, I can make a pull request with my proposal.
This would be with php version 5.5.9.

[2017-11-02 12:48] Stadly commented on #100
According to the [specification](https://tools.ietf.org/html/rfc6350#section-6.3.1), there should not be a trailing semicolon. That specification is for vCard version 4.0, though, and this library outputs version 3.0.

[2017-11-02 12:51] Stadly commented on #7
Isn't https://github.com/jeroendesloovere/vcard/pull/101 a PR for this feature?

[2017-11-03 11:19] Stadly commented on #92
The possibility to add the image content directly instead of relying on an url would indeed be nice.

[2017-11-03 13:45] Stadly commented on #92
I've created a pull request for this here: https://github.com/jeroendesloovere/vcard/pull/103

[2017-11-06 15:04] Stadly commented on #100
Here is the specification for vCard 3.0: https://tools.ietf.org/html/rfc2426. There should not be a trailing semicolon.

I'm experiencing the same issue as you. It also happens when you specify the organisaiton just before the photo or logo. It doesn't seem to be an issue with this vCard generator, however. At least the vCard source looks like it follows the specification to me.

I experience the

[2017-11-07 08:43] Stadly commented on #100
I have investigated some more. It seems that whether the photo works or not in the Contacts app from Galaxy Apps (tested with Contacts version 3.4.03.4, running on Samsung Galaxy S8 with Android 7.0 and Samsung Experience 8.1) is determined by the property directly preceding the photo in the vCard file. I've tested with the following properties: `N`, `FN`, `EMAIL`, `TEL`, `ADR`, `ORG`, `TITLE`, `U

[2017-11-07 17:54] to-be-the-best commented on #98
@jeroendesloovere If you do not want this, please say it, I'll do it on my own fork the way I think it should.

[2017-11-08 15:18] jeroendesloovere commented on #98
Hi @to-be-the-best a PR is always welcome.

[2017-11-13 19:40] andig commented on #99
For my purposes I've added these two cases to the parser:

                    case 'X-ADDRESSBOOKSERVER-KIND':
                        $cardData->xabkind = $value;
                        break;
                    case 'X-ADDRESSBOOKSERVER-MEMBER':
                        if (!isset($cardData->xabmember)) {
                            $cardData->xabmember = [];
                        }

[2017-11-17 13:04] gavin310 opened #104 "Ability to use custom save filename"
I needed to use a specific format for the filename, but didn't see a way to do this. I changed the `save` function to accept an optional `$filename` parameter. Maybe this functionality could be properly added?

    /**
     * Save to a file
     *
     * @param string [optional] $filename
     * @return void
     */
    public function save($filename = null)
    {
        if ($filename)

[2017-12-12 16:46] jeroendesloovere commented on #100
@robbiereynolds and @Stadly, thanks for your opinions.
We will need to take a further look into this.

[2017-12-18 10:27] jeroendesloovere commented on #92
Hi y'all, thanks for the message.
I've merged the PR from @Stadly, so I'm closing this one.

[2017-12-18 10:27] #92 closed

[2018-01-03 09:18] jeroendesloovere opened #112 "Create method to check "Should only apply to Individual""

[2018-01-03 09:20] jeroendesloovere opened #113 "Create method to check "This is the only mandatory property.""
FN is mandatory, so if we want to parse, we need to check its existence

[2018-01-03 14:08] #112 closed

[2018-01-05 10:38] anothergituser opened #115 "Problems with utf-8 encoding"
Can not download vcard when having characters like ñ or á in firstname or lastname and usign utf-8 encoding. Output works.
Changing encoding in VCard class from utf-8 to iso-8859-1 seems to work for downloads too but i noticed that the encoding is not specified in the vcf file.
Thanks

[2018-01-16 14:29] goowikns opened #117 "Error when installing package"
Hi,

When installing your package I receive following error:

  [Composer\Repository\RepositorySecurityException]
  The contents of https://packagist.org/p/provider-latest%240cbfb40ab72a881d2
  1b70f78286d39cd72e3b0eb8704c13e79dc49624e549973.json do not match its signa
  ture. This should indicate a man-in-the-middle attack. Try running composer
   again and report this if you think it is a mistak

[2018-01-16 14:53] jeroendesloovere commented on #117
Hi @goowikns,
thanks a lot for mentioning this.
I just tested `composer require jeroendesloovere/vcard` and indeed.
I'm getting the same error.

![schermafbeelding 2018-01-16 om 15 52 53](https://user-images.githubusercontent.com/588616/34994935-52de0cae-fad5-11e7-80e7-e0a59f31f9a7.png)

Very strange...

I just released a new version 1.5.2, in the hope of fixing this. But it did not fix the proble

[2018-01-22 07:08] lanzaldo opened #118 "Gender in vCard"
Hi,

is there a possibility to add the gender to the vcard object?

[2018-01-29 12:53] lanzaldo commented on #115
Same problem!

[2018-02-06 10:31] christianruhstaller commented on #115
See: https://github.com/jeroendesloovere/vcard/pull/119

[2018-03-02 17:39] Spica2 opened #120 "windows contacts compatibility"
Is maybe related to #115 and #119

Downloads on windows machines result with wrong special characters e.g. ä ü ö in windows contacts. In a text editor the file looks good. So I am not shure if windows is not vcard 3.0 aligned or if there is a formatting problem. Fix mentioned in #119 does not help.

[2018-03-06 11:39] Spica2 commented on #120
The only way in my testenvironment that suceeded was to encode a vcard in charset=ISO-8859-1, set the mime type to charset=ISO-8859-1, and put charset=ISO-8859-1 in each line where special characters where used. The cards were read in windows, mac and android correctly.

[2018-03-12 13:27] anoopzoondia opened #121 "Parse vcrad from qrcode"
Storing the QR code in a vcard format. Is there any option in this module to parse the vcard that is embed in a QR code that is saved in a png or jpeg format? Or the string vcard can we process using this library?

[2018-03-12 14:08] jeroendesloovere commented on #121
You can parse the vCard string from the QR Code.
https://github.com/jeroendesloovere/vcard#parsing-examples

[2018-03-12 14:11] anoopzoondia commented on #121
But i can see only the option to parse from the .vcf file only, not from the image files like .png or .jpeg. Can i just rename the .vcf  extension to that .png or .jpeg

[2018-03-12 14:36] jeroendesloovere commented on #121
Handling QR codes is not something `jeroendesloovere/vcard` library handles.
You need another library to read the "text" from the QR-image.
With that "text" (= string) you can probably parse it to a vCard.

[2018-03-12 14:36] #121 closed

[2018-03-12 14:40] jeroendesloovere commented on #118
Hi @lanzaldo,

In the current master version that is not possible.
You can always create a Pull Request for this feature.

You can find the Work in Progress code over here: https://github.com/jeroendesloovere/vcard/tree/new-version

[2018-03-12 14:40] #118 closed

[2018-03-12 14:42] jeroendesloovere commented on #117
I just tested this again and it seems to work again!

[2018-03-12 14:42] #117 closed

[2018-03-12 14:47] jeroendesloovere commented on #98
Closing this one

[2018-03-12 14:47] #98 closed

[2018-03-12 14:48] jeroendesloovere commented on #7
We are working on a new vCard version which handles this by default.
You can view the WIP over here: https://github.com/jeroendesloovere/vcard/tree/new-version

[2018-03-12 14:48] #7 closed

[2018-03-12 14:48] jeroendesloovere commented on #24
We don't need this one anymore in the new version
https://github.com/jeroendesloovere/vcard/tree/new-version

[2018-03-12 14:48] #24 closed

[2018-03-12 14:49] anoopzoondia commented on #121
Yes got it clear.

[2018-03-12 15:47] anoopzoondia commented on #121
Will this plugin work in php 7? When i run composer command i got like this

![image](https://user-images.githubusercontent.com/3204788/37293929-b29f5734-263a-11e8-8b4b-5fc1471b55cb.png)

[2018-03-12 15:49] jeroendesloovere commented on #121
Can you try `composer install jeroendesloovere/vcard:^1.6` ?

[2018-03-12 15:50] jeroendesloovere commented on #100
Can someone create a PR for this?

[2018-03-13 15:45] anoopzoondia commented on #121
This is also not working for me

[2018-03-13 15:54] jeroendesloovere commented on #121
Sorry, typo, should be: `composer require jeroendesloovere/vcard:^1.6`

[2018-03-13 16:20] anoopzoondia commented on #121
![image](https://user-images.githubusercontent.com/3204788/37354818-86ec88ea-2708-11e8-8fc4-1f497cb00cb1.png)
Again same issue.

[2018-03-14 08:43] jeroendesloovere commented on #121
Can you remove the `vendor` folder and the composer.lock file?
Then execute the command again.
Are you using the `vcard-bundle`?

[2018-03-14 09:57] anoopzoondia commented on #121
No

[2018-03-20 14:28] jeroendesloovere commented on #120
Can you confirm the release 1.6 fixed this?

[2018-03-20 14:28] #120 closed

[2018-03-20 14:28] jeroendesloovere commented on #115
Can you confirm the release 1.6 fixed this?

[2018-03-20 14:28] #115 closed

[2018-04-13 10:15] mrcage commented on #95
Confirmed, I just experienced the same issue.

[2018-05-18 00:10] interludic opened #125 "Single card containing all contacts rather than individual cards"
I would like to import into google contacts, however they require single file import.

Google contacts will accept 1 file with multiple cards inside.

Would this be easy to do?

[2018-05-18 14:59] jeroendesloovere commented on #125
I guess this is currently possible

[2018-05-18 14:59] jeroendesloovere commented on #125
Herefore I reference to https://github.com/jeroendesloovere/vcard/pull/101

[2018-05-18 14:59] #125 closed

[2018-07-03 11:32] jeroendesloovere commented on #69
Closing this one since the PR of @wadmiraal should have fixed it.

[2018-07-03 11:32] #69 closed

[2018-07-03 11:48] jeroendesloovere commented on #59
I'm going to close this one as I assume the vCard does not use utf8_decode anymore.
Feel free to provide a fixing PR if you find this somewhere as a bug...

[2018-07-03 11:48] #59 closed

[2018-07-03 11:49] jeroendesloovere commented on #85
Closing because this will be fixed by #86

[2018-07-03 11:49] #85 closed

[2018-07-03 12:14] jeroendesloovere commented on #95
@wadmiraal can you check this?

[2018-07-04 07:51] wadmiraal commented on #95
We should definitely not remove the CHARSET string. However, it does seem that the folding is happening too soon. RFC6350 says lines should fold at row 75, but VCard.php was folding at 73.

I updated the folding, and added a test to confirm with the above address. It should work now.

[2018-07-04 09:46] jeroendesloovere commented on #95
Fixed by #131
We released a new version 1.7.1 for this.

[2018-07-04 09:46] #95 closed

[2018-07-09 20:42] Tarasovych opened #132 "SSL operation failed with code 1."
I got an error while trying to download VCard. I'm using this library with Laravel framework. Laravel is served locally over https.

Error:

Fails on [this](https://github.com/jeroendesloovere/vcard/blob/master/src/VCard.php#L234) line.

[2018-07-10 08:39] jeroendesloovere commented on #132
Hit @Tarasovych, thanks for contacting us.

I searched Google and it seems to be an error in your local setup.
Can you try the following solutions: https://github.com/composer/composer/issues/3346#issuecomment-76593763

[2018-07-10 12:34] Tarasovych commented on #132
@jeroendesloovere thanks, but that sollution is suitable for Linux, as I can see (I use OpenServer for Windows).

[2018-08-13 20:32] Tarasovych opened #133 "Returned data is not an image."
I have two Laravel apps. Both on the same commit state.

First app domain is like `foo.bar.example.com`, second is `bar.example.com`. Both served via same web-server and have ssl certificate (if that matters for my issue).

Both apps store images in the same folder, folder has 0755 permission and the same user is an owner.

I have such code:
[code]
and it cause some problems.

This:
[code]
returns

[2018-08-13 21:16] Tarasovych commented on #133
I've solved my issue: using relative path instead absolute. But I want to investigate this problem more - why absolute path causes an error?

[2018-08-13 21:32] #133 closed

[2018-09-18 02:32] LovindaAgung opened #134 "missing vendor/autoload.php"
hi, i checked that there is no such folder or file. should i add autoload.php manually?, how to do that?
thank you.

[2018-09-21 19:10] jeroendesloovere commented on #134
It is correct that there is no vendor/autoload.php.
Since such a folder will automatically be added by Composer.

Composer is a dependency package provider that allows you to easily install vendors in to your project.
Please check out the [composer](https://getcomposer.org) website.

Once you have installed composer you can simple execute the following line in your terminal:
`composer require jero

[2018-09-21 19:10] #134 closed

[2018-11-16 22:40] tc0nn commented on #49
This didn't work for me. And I'm also confused as to why this is so hard. Here's what I ended up with:
First run composer without complaints, then dev-master, then add the requires:
[code]
Top of my file looks like:
[code]

Good luck.

[2018-12-18 13:36] polcape commented on #125
Hi, does this feature is present now in the master branch?

Thanks

[2018-12-18 18:35] kossa opened #135 "Multiple contacts"
Hello

There's a way to get a list of contacts on one vcard?

[2018-12-27 20:47] danger89 commented on #135
I think yes, according to the specification. You can have 'RELATED'.

Eg. Let's say you have a person contact (Bob) and you want to add the mother, father, sister and brother to the contact Bob.
https://tools.ietf.org/html/rfc6350#page-42

The value could be an URI (link to the other contact), UUID (internal identifier of a contact) or just text (eg. literally the full name of the brother for exam

[2018-12-27 21:11] to-be-the-best commented on #135
https://tools.ietf.org/html/rfc6350#page-42 is vcard version 4.
The master branch is vcard version 3.
Branch 2.0.0-dev is vcard version 4.
2.0.0-dev also has support for multiple vcards.

[2019-01-12 15:01] andig opened #137 "Support parsing additional parameters"
In https://github.com/andig/carddav2fb/blob/master/src/Vcard/Parser.php#L259 we need to parse additional elements generated by AVM Fritz!Boxes. Currently, since `parse()` is such a monster function it is not extensible without basically duplicating the entire code.

Would you be open for a PR to a) either support a simple callback function or something like `parseRemainingElements()` or b) move th

[2019-01-12 16:27] andig opened #138 "RFC6350 Property Value Escaping"
Seems this is currently not supported: https://tools.ietf.org/html/rfc6350#section-3.4

[2019-01-28 20:39] derwok commented on #138
In our version of your vCard parser we fixed it like so:
https://github.com/andig/carddav2fb/blob/9cbc1b87f984a49b3f391393d5b804e66c132e77/src/Vcard/Parser.php#L170-L177

[2019-02-03 17:34] Programie opened #139 "Specify own MIME type for addPhoto"
I want to add a photo using addPhoto() to a VCard and doing that in the way of passing an URL to the method. This actually does a request to that URL to get the MIME type of the file even if the include parameter is set to false. That works most of the times, but it does not if the server can't reach the public URL (e.g. firewall or whatever). In my case the application is running inside a Vagrant

[2019-02-19 10:19] hariom-darkbears opened #140 "It's not working with Iphone"
When i use this on Android, then it's working fine and download a file with .vcf extension.

But when i use this with Iphone then it's not working only show me as output string.(Not downloadable file).

Please quick help!

[2019-02-28 11:06] nettum commented on #140
Are you using `$vcard->download()` or `$vcard->getOutput()`? If you are using `getOutput()` you will need to add the appropriate headers to your response. My guess is that the response are returning something like `text/html` instead of `text/vcard` and then iphone will not open it as a contact file.

[2019-03-03 15:41] to-be-the-best commented on #137
There is a new version of the code being made on the 2.0.0-dev branch, would this fit your needs?

[2019-03-03 15:53] to-be-the-best commented on #138
I notice you suggest to add your code in the VCardParser.php file.
This file is only in the master branch.
I also noticed the specs you reference is the vcard version 4 specs.
The master branch uses the vcard version 3 specs.
Please take a look at the 2.0.0-dev branch for vcard version 4 specs.

[2019-03-03 20:58] andig commented on #137
Not really sure where to look for extensibility. Could you point to a specific file in 2.0?

[2019-03-05 09:09] hariom-darkbears commented on #140
Hey @nettum   Yes response are returning like 'text/html'.. could you please help me to write down appropriate headers...

[2019-03-08 20:59] danger89 commented on #137
Which kind of 'additional' elements are you looking for of vcard?

[2019-03-08 21:04] danger89 commented on #135
@to-be-the-best Indeed, thanks for clarifying this.

[2019-03-08 21:05] danger89 opened #148 "Support Time and Date solely instead of DateTime (2.0.0-dev)"
Currently with the 2.0.0-dev branch, the birthday, anniversary you need to specify a `new \DateTime` as constructor parameter.

The problem with this, is you can't specify a date only (without time). Resulting in a vcard output (file) with a full date + time (`yyyymmddThhmmssZ`), which is not always wanted.

Eg. for a birthday the date is enough, which should result in `yyyymmdd` only.

This discu

[2019-03-09 09:21] andig commented on #137
The use case is having carddav server store custom, non-standard attributes, e.g. for vanity and quick-dial phone numbers. Those are converted and transferred to Fritzbox/FritzFron devices. We're using `X-QUICKDIAL` and `X-VANITY`. The parser could allow to call a custom parser extension for unknown attributes (using a proper interface or be restructured to allow easier subclassing).

[2019-03-10 13:01] nettum commented on #140
Well, this package already have a function to get the appropriate headers so you could do
[code]
to get all the headers you need and set them. But then you could just use `$vcard->download();` instead. In that case you do not need to to set the headers yourself as the library does it for you.

If you still want to do it manually you could use `header('Content-Type: text/vcard');`

[2019-03-14 10:41] itsmemanoj commented on #140
i'm facing the same download issue on iphone but case is little different.
normally if i visit a site and click download button on iphone it works download a contact file. but if click a website link from instagram or facebook app, you know they opens links using in-app browsers. then i click on download button and it shows the string output.
but works fine for android.

[2019-03-14 12:41] itsmemanoj commented on #140
@hariom-darkbears did you solve the issue ?

[2019-03-21 09:54] helveticadomes commented on #113
i think PR #146 should solve this Issue, but if there is no reaction.
just close this issue after merge if you agree, that it is solved, else say what is missing

[2019-03-21 09:56] helveticadomes commented on #148
could we use use
[code]
or will this create other issues?

[2019-03-21 17:49] danger89 commented on #148
@helveticadomes Well, yes this will solve the fact you solely have a date. But now you can't support date + time (which should also be possible in some cases).

https://github.com/jeroendesloovere/vcard/blob/061f0522475f9dee56cd8001fc639d1279190437/src/Property/Value/DateTimeOrStringValue.php#L19

As you can see here. A check is used to validate if the object is of time DateTime. If true, it will

[2019-03-29 07:54] RoastedPecans opened #149 ""$type" not setting correctly"
Hey! Great library, the only thing I haven't been able to figure out is why the generated contact card isn't differentiating between HOME/WORK email types and CELL/WORK phone types. An example of my code is below so if I'm doing something wrong it can be pointed out.

[code]

The strangest part is that when I inspect the resulting .vcf in TextEdit I can see the correct encodings, for example:

TEL

[2019-03-29 20:45] ds00424 opened #150 "addPhoto, local file, include==true, allow_url_fopen is false -- throws error"
Using v1.7.2

On my production sysstem allow_url_fopen is set to false.
I am trying to add a local file photo to the vcard using addPhoto().

When I do addPhoto("/path/to/local/file.png"), addMedia throws an exception.  The file exists and is readable.  I have traced this down to addMedia().  When allow_url_fopen set to false, addMedia() will use curl to read the file - which fails as the file is

[2019-05-03 22:39] claytoncollie opened #151 "Ampersand is being encoded improperly when using addCompany method"
I am using this library to build vcards on law firm websites. Most them have ampsersands in their names `&` which is being used for the site title on the website.

I am then grabbing this site site to populate the Company field in the vcard.

But when I pull up the vcard, the `&` is being shown as `&amp`

Is there something I can do to prevent this? Do I need to change the char set for my implimen

[2019-05-16 13:35] deepak-netwin opened #152 "Add CATEGORIES and URL Support"
Hi,

I just want to know, how can I add CATEGORIES and URL in vcard as well as how to parse it?

Ref. for CATEGORIES and URL: https://en.wikipedia.org/wiki/VCard#vCard_4.0

[2019-05-29 18:38] claytoncollie commented on #151
Anybody out there?

[2019-06-04 09:18] deepak-netwin commented on #152
Can someone reply on this?

[2019-06-04 10:43] to-be-the-best commented on #152
Both are not yet implemented in the code.
As I see it URL can be based of the EMAIL field, simply copy the classes, rename them and calls/references need to be added.
For CATEGORIES any of the simple fields like TITLE can be copied and renamed for a basic non splitted implementation, for a more advanced version with splitting we need some custom code which takes more time.

I'm at the moment unabl

[2019-06-04 10:51] to-be-the-best commented on #151
I'm at the moment unable to check what is happening there, it will be a few weeks until I will be able to check if I can fix this.
I don't know if @jeroendesloovere is available?

[2019-06-21 09:01] mbolli commented on #151
We have problems with encoding special characters as well - i.e. first name "Grüter" will become "GrÃ¼ter" on Windows and "Gr√°ter" on MacOS.

[2019-06-21 22:01] RoastedPecans opened #153 "Issue with ->getOutput() on vCard's with large photos attached"
Hey everyone, seems like I might've found an issue with this library that I was hoping could be resolved. I'm trying to make a .vcf file with a picture attached to it. My relevant code looks like this:
[code]

This code works fine for vCard's with small pictures attached (less than ~1Mb), and I get the output as expected. However, when I run it with any larger pictures (tested with 3-7Mb), I get a

[2019-07-30 20:02] rgoarias commented on #151
I am having the same problem with the ampersand.

[2019-08-13 12:39] skyro682 opened #155 "Won't download on chrome android"
Hi, my problem is the file can't be download on chrome android, it work fine on other browsers and on pc, but on chrome android i have a download error without detail and error code. I try with other phone and the problem is the same.

[2019-08-22 12:11] #132 closed

[2019-08-30 14:22] SilverFire opened #156 "Add serialization to jCard format"
Hi, @jeroendesloovere!
Thank you for a great implementation of vCard objects!

As you might know, there is a jCard format, specified by [RFC7085](https://www.rfc-editor.org/rfc/rfc7095). It could be good to implement Vcard serialization to jCard

[2019-09-11 07:58] danieldavison opened #157 "Folded line causing cut off postcode in vcard"
It seems like windows contacts cuts of the postcode in this vcard, I am thinking it is due to the folding being done mentioned [here.](https://github.com/jeroendesloovere/vcard/issues/95)

Here is the a vcard with said problem:

When imported into windows contacts, the postcode becomes A1.

[2019-10-02 15:08] Jmetters opened #158 "V card not opening due to permissions"
I keep getting the issue the

**Its possible the file is already open or you dont have permission to open it**

[2019-10-17 18:18] luizamanhaes1 opened #159 "Issue using iphone"
I'm facing an issue when trying to import the generated vcard on iphone. Before the iOS 13 update, when the vcard opened, the user could click on "Open in contacts", but now this option doesn't even appear or appear very hidden as "Copy to Contacts" but it seens like a disabled button.

Does anyone how to overcome this?

[2019-10-17 21:19] l3dlp commented on #159
Hello. As far as I investigate this issue, I found that it still be possible, but not fluid anymore.

When you click and download the .vcf file, a preview of the Contact appears. Click 1 second on the picture to get the new menu on screen, with fully functional "add to contact" and "update contact" links.

[2019-10-18 14:29] luizamanhaes1 commented on #159
It worked! Didn't know about this function hehe thank you so much!

[2019-10-18 14:29] #159 closed

[2019-10-28 21:12] hamxiash opened #160 "How to add Social Links (Categorized as Social not URLS)"
Hey , I know I can add multiple urls in VCF, But I want to show specific facebook link .
In others vcf it's specified as facebook but in this vcf it's specified as URL .

[2019-11-01 14:44] jeroendesloovere commented on #160
Hey,
in the current vCard version it is not possible.
Only the type "WORK" or "HOME" can be chosen.

I do not know if it is possible to expand the current functionality, but you surely investigate that.

[2019-11-20 12:47] UBAazubi opened #162 "Ho to use telephone arrays"
Hey there,
I want to check which tel-number is a work number, a home number etc but if I print_r the array of types I only get confused. Is there any clear opportunity to check which is which?

[2019-11-25 17:43] vvy6791 commented on #157
It' seems to be a non RFC vCard.
------------
RFC2425 5.8.1. Line delimiting and folding
Unfolding is accomplished by regarding CRLF immediately followed by a white space character (namely HTAB ASCII decimal 9 or. SPACE ASCII decimal 32) as equivalent to no characters at all (i.e., the CRLF and single white space character are removed).
------------
But your vCard have not HTAB or SPACE before "5A

[2019-12-12 18:07] rgpublic opened #164 "chunk_split_unicode must use regex without u flag when encoding is != utf8"
If you use `preg_split("//u", $body, -1, PREG_SPLIT_NO_EMPTY)` on a string than contains non-unicode characters (winansi) then you'll get back an empty array.

[2019-12-30 19:27] mansour161 opened #165 "save or download an array"
hi
thank  you for this lib
 im creating an array of member  and this is work .
but when i want  to send  save() or download() function , dont work
can you change  this function of VCard.php file for accepting an array
please help
thanks

[2020-01-10 15:46] 1007tejas opened #166 "Folding line when EOL is on 75th character boundary"
Server: Debian 9
Install: Composer package jeroendesloovere / vcard
Framework: Laravel 5.8
Issue: vcard.php function: fold

Folding lines when the end of line character(s) is crosses the 75th character boundary.
In this example the second label creates a blank fold.
------------------------ Original code creates a fold
[code]
------------------------

Adding a test that trims the text before check

[2020-01-10 16:14] #166 closed

[2020-01-23 12:12] Meera9 opened #167 "addurl() Function not display custom label?"
When i use **addUrl('https://google.com','GOOGLE');**
it is show me all time **Website Label** how can i change that can you help me?

[2020-01-30 21:28] recurs1v0 commented on #68
If you have recently read this thread and you can not install Composer on your Server (by any reason or pre-requisite)

Here is how to do it in the "old and difficult" way.

1. Download https://github.com/Behat/Transliterator and UnZip
2. Copy all the files inside /src/ folder to the same folder your VCard class is located.
3. Change your Vcard.php Class on line 3 add the following:

`include ('Tr

[2020-02-19 09:12] sajadk opened #168 "vcard download directly opens iphone contacts app preview, but in android it has to be downloaded."
vcard download directly opens iphone contacts app preview, but in android it has to be downloaded, then saved or imported to contacts and then manually need to go and search for the contact. Can we download the vcard as like in iphone where it automatically opens the contacts app with downloaded vcard content.

[2020-03-04 08:37] babininja opened #169 "how to add social networks"
hi i found  website that makes custom vcard and puts social networks inside vcard how can i do that in your package?
blob:https://web.whatsapp.com/47b8984b-b643-4a57-b14e-2e4e944ea990

blob:https://web.whatsapp.com/be738972-522a-4a83-a904-68000b1f88f2

like this.

[2020-03-10 22:59] miguelcalderons commented on #140
@itsmemanoj Im using $vcard->download ad still doing it.

[2020-03-10 23:32] miguelcalderons commented on #169
THe way that support right now is

$vcard->addURL('https://www.facebook.com/username,'TYPE=Facebook');

[2020-03-10 23:34] miguelcalderons commented on #167
Isntead of **addUrl('https://google.com','GOOGLE');** to **addUrl('https://google.com','TYPE=Google');**

[2020-03-17 06:39] itsmemanoj commented on #140
@miguelcalderons  downloading vCard is working fine for me too but only on known browsers like firefox, safari, chrome.
But when I click the download link from the Instagram or facebook Bio ( using their App ).
Then you know, they open links using in-app browsers, those browsers are just displaying output string not downloading the file.

[2020-03-31 13:02] shankiflang commented on #155
+1

[2020-03-31 17:42] skyro682 commented on #155
Hi, I don't know if the problem is still present for me but I found a way around it.
I save the file into my app then i download it and delete it.

[2020-06-04 02:27] m7ammad7assan commented on #155
I have same issue !

[2020-07-30 01:58] ramcodex commented on #52
Hi Jeroen, I need your help, I have been using your package in laravel 5.8, I am not able to download vcf in mobile phone that gets failed but it is able to download in desktop, using crome browser, check this at least 5 mobile phone same issue has been occurred..
Kindly Help me..

[2020-09-11 11:30] stevewaughbitrix opened #170 "vCard 4.0: How to export multiple contacts to single VCF file?"

[2020-09-25 14:41] hasanbasri1993 commented on #170
any solution ??

[2020-09-29 00:33] shakaran opened #172 "DateTime::__construct(): Failed to parse time string (--0621) at position 0 (-): Unexpected character"
[code]

Fails at --0621

[code]

[2020-11-19 12:26] areny7 opened #174 "Form problem"
Can I convert a VCF file into an Excel form?

[2020-11-21 13:22] jeroendesloovere commented on #174
Yes, with some custom development and an Excel library.

Met vriendelijke groeten,
Jeroen Desloovere

[2020-12-17 17:50] mohamedhussieen opened #175 ""mime_content_type($user-&gt;basicInfo-&gt;image): failed to open stream: No such file or directory","

[2021-01-01 15:45] inpresif opened #176 "Fatal error: Uncaught Error: Call to undefined method JeroenDesloovere\VCard\VCard::addURL()"
I've been trying to add a URL, both clean from the sample code as well as the social TYPE= versions, but I'm not getting it to work.

As the title suggests, this is the error:
Fatal error: Uncaught Error: Call to undefined method JeroenDesloovere\VCard\VCard::addURL()

Here's some code:
[code]

You can see what I commented out, also has been tried.

Am I missing something? Without the URL all work

[2021-01-09 12:11] zloadmin commented on #91
I had some problem with string
`$response->headers->set('Content-Length', mb_strlen($content, 'utf-8'));`
due to i had Spain name. And this code wrong count length. (On iPhone). So i've just deleted this string.

[2021-01-12 15:59] flufab commented on #149
I had the same prob an solved it by just typing TYPE= to the param:

`$vcard->addPhoneNumber('+000000', 'TYPE=MAIN');`

[2021-05-25 10:42] nabeelalihashmi opened #181 "Deprecated: Required parameter $element follows optional parameter $include in ....vendor/jeroendesloovere/vcard/src/VCard.php on line 228"
I get this issue.

Fix:
File: vendor/jeroendesloovere/vcard/src/VCard.php | line 228:    private function addMedia($property, $url, $element,$include = true)
vendor/jeroendesloovere/vcard/src/VCard.php | lines 432-442:  public function addLogo($url, $include = true)
    {
        $this->addMedia(
            'LOGO',
            $url,
            'logo',
            $include
        );

        ret

[2021-06-25 18:36] ibrahem-kamal opened #182 "takes so long to download"
hey , i am using the basic example but in my case it takes about 10 sec to start the download , anyone knows what might cause it ?

[2021-08-06 14:07] iamkbkarthikeyan commented on #181
Hi, @nabeelalihashmi  Same Happend on my PHP 8.

[2021-08-18 07:56] nadeem706 commented on #181
@iamkbkarthikeyan same happend to me on php8. You have any alternate solution for it?

[2021-08-24 12:50] silvermarten88 commented on #167
@miguelcalderons thanks, but this doesnt display the label in android.
on iphone its ok.

also, how do i add a whatsapp link correctly?

[2021-08-27 09:00] cmette opened #183 "export many vCards in one file?"
is it possible to write many vCards in a single output stream and send them to the browser as ->download()? do you have a quick example? Greetings Christian

[2021-08-28 20:37] Rich-e-js commented on #183
im also interested on this. i just simpli tried to add another name and number but i got an 'You can only set "name" once' error.

[2021-09-08 07:00] anoozz commented on #91
mine isnt working .. with return $response; download pending..

[2021-09-13 06:18] tringalama2 commented on #181
same issue.  it is a compatibility issue with PHP 8.0.

I made the fix, updated composer.json to PHP 8 and PHPUnit to 9.3 and submitted a pull request.

in the meantime, you can use my fork: https://github.com/tringalama2/vcard

this is my first pull request, so any suggestions are welcome.

[2021-10-07 09:42] martiniboy opened #185 "Not exporting on mobiles anymore"
Hi, I know this will be an issue with something that I have done, but have no idea how to resolve it.

On a desktop, it works without an issue but on mobiles, it is very temperamental on whether it will work or not.  It just refreshes the page and doesn't load the popup to add a contact on the mobile.

Here is an example of the vcf file when exported on a desktop:
`  BEGIN:VCARD
VERSION:3.0
REV:20

[2021-10-26 20:39] AlbertoSinigaglia opened #187 "returning void value"
Am I missing something or in the `README.md` when you are doing:
[code]
you are returning the result of `->download()` that is a `void` function?

[2021-11-19 10:36] neuhaus commented on #183
This issue appears to be a direct duplicate of issue #170

[2021-11-19 10:40] neuhaus commented on #160
There are a bunch of unofficial extensions to vcard for this mentioned [here](https://de.wikipedia.org/wiki/VCard):

[code]

[2021-11-19 16:03] lerni opened #188 "addLabel() doesn't add $this->getCharsetString()"
Is there a particular reason why encoding isn't added to LABEL? On Windows this causes Problems with Umlauts.

[2021-11-24 20:12] jeroendesloovere commented on #188
Hi there, nice catch.
I just added it for you.

[2021-11-24 20:57] jeroendesloovere commented on #183
vcard v2.0.0 will be able to handle this

[2021-11-24 20:57] #183 closed

[2021-11-24 20:57] jeroendesloovere commented on #170
vcard v2.0.0 will be able to handle this.
Take a look at https://github.com/jeroendesloovere/vcard/tree/2.0.0-dev

[2021-11-24 20:57] #170 closed

[2021-11-24 21:00] jeroendesloovere commented on #188
New release https://github.com/jeroendesloovere/vcard/releases/tag/1.7.3

[2021-11-24 21:00] #188 closed

[2021-11-25 06:53] lerni commented on #188
:heart: Thank you!

[2021-12-12 06:27] umefarooq commented on #91
with Laravel save the vcard in a directory. Download it with response file.

$vcard->setSavePath('/path/to/directory');
$vcard->save();

download with response
return response()->file($pathToFile);

vcard save file name in lower letters, on linux you will get file not found error. first lower case the file with strtolower than pass it to response file.

[2021-12-17 13:22] JamesPoel opened #193 "Address doesn't support umlauts"
One of my address paramters has an umlaut, so I am utf8_encoding it to correctly display it in the vcard.
This works for name etcf, but for address, it produces an error.

Example:

$vcard->addAddress(null, null, 'street', utf8_decode( 'woërktown' ), null, 'workpostcode', 'Belgium');

array_chunk() expects parameter 1 to be array, bool given

[2022-01-26 10:33] dGilli opened #194 "VCard::addMedia() 'Content-Type' validation should be case insensitive"
[code]

In VCard::addMedia() on line `239` and `240`, the `'Content-Type'` lookup should be case insensitive.

Header `content-type: image/jpeg` will throw unexpected error.

[2022-02-01 15:18] Satvik-web commented on #194
Hey @dGilli!
Greetings from. India, TamilNadu!

If you are trying to create a VCard.. Then you are in the right place! I have created a nuget package with helps you to achieve it.. I have given the implementation in GitHub readme.md file..
You can install it using the following command using the package manager console..
[code]
Nuget link: https://www.nuget.org/packages/VCard/

Github Link : https

[2022-02-25 09:32] tpinne commented on #149
According to the spec https://datatracker.ietf.org/doc/html/rfc6350#section-6.4.1 the `TYPE=...` is necessary. So I don't know, why it is generated without by the lib and it has to be put in manually to get correctly recognized.

[2022-03-08 08:33] jeroendesloovere commented on #149
The current released vCard library supports vCard version 3.
@tpinne the URL shows the scheme for version 4.
That is why there is no TYPE= (I guess)

If you look into the current branches, you will see a v2.0.0 which supports vCard version 4.
Currently still WIP, would be nice if more people could help finalizing it :pray:

[2022-03-08 08:33] #149 closed

[2022-03-16 21:00] jeroendesloovere commented on #181
Another MR fixes it: https://github.com/jeroendesloovere/vcard/pull/192

[2022-03-16 21:01] jeroendesloovere commented on #181
@tringalama2 can you create a pull request to update php to 9.3?

[2022-03-16 21:01] #181 closed

[2022-04-06 20:27] LordSimal opened #196 "New release for PHP 8.0?"

[2022-04-06 20:28] LordSimal opened #197 "New release for PHP 8.0?"
since the PHP 8.0 issues have been resolved can we please do a new release tagging the latest version so we can properly download it via composer?

[2022-04-06 20:30] #196 closed

[2022-05-18 14:08] aadilbashirbhat commented on #91
Thanks, it really helps me out

[2022-05-23 14:08] thomas-niederberger opened #198 "...is not commonly downloaded and may be dangerous"
Hello. By using the example the *.vcf is generated and downloaded with the message "is not commonly downloaded and may be dangerous" in Google Chrome Version 101. Where I can choose inbetween Discard and Keep. Any thoughts?

[2022-06-11 08:46] myregistration opened #199 "ORG Property"
Why is there title and role properties, but no org?  Can we easily add missing properties ourselves?  Is this still being developed?  Thanks!

[2022-06-16 13:27] marcorieser commented on #185
I had the same issue but adding `die;` after `$vcard->download()` worked for me.

[2022-07-12 09:21] zertex opened #202 "GEO key"
Can you add GEO key?

[2022-07-14 11:27] kaleemshoukat commented on #140
Best solution for iphone is replace `$vcard->download();` with following:

`$response = new Response();
$response->setContent($vcard->getOutput());
$response->setStatusCode(200);
$response->headers->set('Content-Type', 'text/x-vcard');
$response->headers->set('Content-Disposition', 'attachment; filename="' . $contact_id . '.vcf"');
$response->headers->set('Content-Length', mb_strlen($vcard->getOut

[2022-07-25 09:20] p-w opened #203 "Phone types not recognized in Outlook or iOS"
The current build generates a vcard which cannot be parsed by Outlook or iOS.
This is specific to the Phone and Email-Types.

Currently it is:
[code]

But should be:
[code]

This is specified in the RF as well: https://www.rfc-editor.org/rfc/rfc6350.html#section-6.4.1

[2022-07-25 09:26] p-w opened #204 "Preference not working"
The current build generates a vcard which cannot be parsed by Outlook or iOS.
This is specific to the Phone and Email-Types.

Currently it is:
[code]

But should be:
[code]

This is specified in the RF as well: https://www.rfc-editor.org/rfc/rfc6350.html#section-6.4.1

[2022-07-28 20:01] noelkalel commented on #197
any news about this feature?

[2022-08-03 01:50] garhbod commented on #202
Could `setProperty` be set to `public` so that custom properties like GEO could be added easily?

[2022-08-10 06:38] ElifBahar commented on #140
This is working well for me on android phones, however on iOS nothing is happening. Any idea how to fix this?
I also tried

`
$iPhone  = stripos($_SERVER['HTTP_USER_AGENT'],"iPhone");
$response->setContent($content);
$response->setStatusCode(200);

if( $iPhone ){
    $response->headers->set('Content-Type', 'text/vcard');
}else{
$response->headers->set('Content-Type', 'text/x-vcard');
}
$response->

[2022-09-15 12:19] 4leads opened #206 "Disable line folding / make it optional"
Hey there,

There seems to be an common issue on Android to import vcards with line folding.
If i read the rfc right line folding is optional and not mandatory.

Other tools seem to also skip line folding.

Can we make it optional or just remove it? What do you think?

[2022-10-19 18:14] aviqa1984 commented on #140
@ElifBahar did you sovled this ??

[2022-10-20 07:06] ElifBahar commented on #140
@aviqa1984 yes but i had to write down the code manually on my controller. I searched online and combined couple of things i found.. Here is how i did it:

`
public function exportVCF($url){

            //Retrieve the user you want to make a card of
        $user = User::where('url',$url)->first();

        //Create card
        $content2 = "BEGIN:VCARD\r\n";
        $content2 .= "VERSION:3.0\r\n

[2022-10-20 10:33] codeflow-biz opened #208 "Add return type of inherited methods from Iterator in VCardParser"
PHP8.1 (at least - did not test with PHP8.0) logs deprecated issues because the 5 inherited methods from the Iterator base class in VCardParser do not declare the return type:

[code]

Fix:
Add return type :mixed to methods current() and key(),
add return type :bool to method valid(),
add return type :void to methods rewind(), next().

[2022-10-27 18:24] cruzmediaorg commented on #175
Did you fix this?